.MainProfileDiv{
    margin-bottom: 2em;
}
.profile-container{
    width: 100%;
    margin: auto;
}
.top-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 180px; */
    padding: 60px;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
/* .user-profile-bg-image{
    width: 100%;
    height: 70%;
    background: #8c3b0b;
    overflow: hidden;
} */
/* .profile-bg-img{
    width: 100vw;
    height: 100vh;
    margin-top: -12rem;
    object-fit: cover;
} */
.user-profile-image{
    /* position: absolute; */
    width: 180px;
    height: 180px;
    border-radius: 50%;
    /* transform: translateX(-50%);
    left: 50%; */
    background-color: #5da668;
    /* bottom: -2px; */
    border: 2px solid #f6f6f6;
}
/* .profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
} */
.userName{
    text-align: center;
    width: 100%;
    /* position: absolute;
    bottom: -5rem; */
    font-size: 2rem;
    color: #0d0d0d;
    padding-top: 25px;
}
.bottom-section{
    display: flex;
    justify-content: right;
    flex-direction: row;
    width: 100%;
}
.right-menu{
    flex: 0.05;
    height: 100%;
}
.info-section{
    flex: 0.78;
    height: 100%;
} 

@media only screen and (max-width: 868px) {

    .user-profile-image {
    /* max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px; */
    width: 90px;
    height: 90px;
    }
}

/* @media (min-width: 1017px) {
    .MainProfileDiv {
        margin: 0;
        margin-right: auto;
    }
} */